In [1]:
from pyspark.sql import functions as F
from service.utils.spark import get_spark_session
spark = get_spark_session(dev=True)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/24 07:51:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
test_namespace = 'gold' 
# spark.sql(f"DROP NAMESPACE IF EXISTS {test_namespace} CASCADE")
spark.sql(f"CREATE NAMESPACE IF NOT EXISTS {test_namespace}").show()

++
||
++
++

In [3]:
delivered_order_product = spark.read.table('warehousedev.gold.delivered_order_product')
delivered_order_product.show(n=5)

+--------------------+--------------------+---------------+-------------+--------------------+-----------+
|            order_id|          product_id|       category|order_item_id|           seller_id|total_price|
+--------------------+--------------------+---------------+-------------+--------------------+-----------+
|00010242fe8c5a6d1...|4244733e06e7ecb49...|     cool_stuff|            1|48436dade18ac8b2b...|      72.19|
|00018f77f2f0320c5...|e5f2d52b802189ee6...|       pet_shop|            1|dd7ddc04e1b6c2c61...|     259.83|
|000229ec398224ef6...|c777355d18b72b67a...|furniture_decor|            1|5b51032eddd242adc...|     216.87|
|00024acbcdf0a6daa...|7634da152a4610f15...|      perfumery|            1|9d7a1d34a50524090...|      25.78|
|00042b26cf59d7ce6...|ac6c3623068f30de0...|   garden_tools|            1|df560393f3a51e745...|     218.04|
+--------------------+--------------------+---------------+-------------+--------------------+-----------+
only showing top 5 rows

In [7]:
# gold
sale_stats = delivered_order_product.groupBy('product_id', 'category').agg(
    F.count(F.col('order_id')).alias('order_count'),
    F.round(F.sum(F.col('total_price')), 4).alias('total_sales')
    ).orderBy(F.col('order_count').desc())

sale_stats = sale_stats.withColumn('mean_sale', F.round(F.col('total_sales') / F.col('order_count'), 4))
sale_stats.show()

+--------------------+--------------------+-----------+-----------+---------+
|          product_id|            category|order_count|total_sales|mean_sale|
+--------------------+--------------------+-----------+-----------+---------+
|aca2eb7d00ea1a7b8...|     furniture_decor|        520|   44197.75|  84.9957|
|422879e10f4668299...|        garden_tools|        484|   34201.26|  70.6638|
|99a4788cb24856965...|      bed_bath_table|        477|    49907.5| 104.6279|
|389d119b48cf3043d...|        garden_tools|        390|   28543.65|  73.1888|
|368c6c730842d7801...|        garden_tools|        388|    27984.4|  72.1247|
|53759a2ecddad2bb8...|        garden_tools|        373|   27268.23|  73.1052|
|d1c427060a0f73f6b...|computers_accesso...|        332|   58957.31| 177.5823|
|53b36df67ebb7c415...|       watches_gifts|        321|   39713.49|  123.718|
|154e7e31ebfa09220...|       health_beauty|        274|     9824.2|  35.8547|
|3dd2a17168ec895c7...|computers_accesso...|        272|   47876.06| 176.0149|
|2b4609f8948be1887...|       health_beauty|        255|   26127.92| 102.4624|
|a62e25e09e05e6faf...|       watches_gifts|        224|    27742.7| 123.8513|
|7c1bd920dbdf22470...|       health_beauty|        220|    16735.7|  76.0714|
|bb50f2e236e5eea01...|       health_beauty|        194|   67258.03| 346.6909|
|e0d64dcfaa3b6db5c...|       watches_gifts|        193|   35162.31| 182.1881|
|5a848e4ab52fd5445...|                NULL|        190|   26315.15| 138.5008|
|e53e557d5a159f5aa...|computers_accesso...|        181|   18174.21|   100.41|
|42a2c92a0979a949c...|          housewares|        177|   13777.77|  77.8405|
|b532349fe46b38fbc...|     furniture_decor|        166|    8543.77|  51.4685|
|35afc973633aaeb6b...|        home_confort|        162|   16803.37| 103.7245|
+--------------------+--------------------+-----------+-----------+---------+
only showing top 20 rows

In [7]:
sale_stats.filter(F.col('product_id') == 'bb50f2e236e5eea0100680137654686c').show()

+--------------------+-------------+-----------+-----------+---------+
|          product_id|     category|order_count|total_sales|mean_sale|
+--------------------+-------------+-----------+-----------+---------+
|bb50f2e236e5eea01...|health_beauty|        194|   67258.03| 346.6909|
+--------------------+-------------+-----------+-----------+---------+

In [8]:
sale_stats.writeTo(f"{test_namespace}.sale_stats").createOrReplace()

In [8]:
spark.stop()