In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
REDEFINED_DIR = "../../downloads/olist_redefined"
os.makedirs(REDEFINED_DIR, exist_ok=True)

In [3]:
customer_origin = pd.read_csv("../../downloads/olist/olist_customers_dataset.csv").drop_duplicates()

In [4]:
customer_df = customer_origin.rename(columns={'customer_zip_code_prefix':'zip_code'})
customer_df = customer_df.drop(columns=['customer_city', 'customer_state'])
customer_df = customer_df.sort_values(['customer_id','zip_code'])
customer_df.head(2)

,customer_id,customer_unique_id,zip_code
84790,00012a2ce6f8dcda20d059ce98491703,248ffe10d632bebe4f7267f1f44844c9,6273
27335,000161a058600d5901f007fab4c27140,b0015e09bb4b6e47c52844fab5fb6638,35550

In [5]:
customers_cleaned = customer_df.drop(columns='customer_unique_id').drop_duplicates()
customers_cleaned.head()

                            customer_id  zip_code
84790  00012a2ce6f8dcda20d059ce98491703      6273
27335  000161a058600d5901f007fab4c27140     35550
63792  0001fd6190edaaf884bcaf3d49edf079     29830
97756  0002414f95344307404f0ace7a26f1d5     39664
59921  000379cdec625522490c315e70c7a9fb      4841

In [6]:
customers_cleaned.sort_values('zip_code').to_csv(f'{REDEFINED_DIR}/customer.tsv', sep='\t', index=False)