In [1]:
import pandas as pd

In [2]:
SRC_PATH = f"../downloads/olist/olist_customers_dataset.csv"

In [3]:
df = pd.read_csv(SRC_PATH)
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
df.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [5]:
len(df.customer_id.unique()) == len(df.customer_unique_id.unique())

False

In [6]:
print(f"Total counts: {len(df)}")
print(f"The number of unique customer_id: {len(df.customer_id.unique())}")
print(f"The number of unique customer_unique_id: {len(df.customer_unique_id.unique())}")

Total counts: 99441
The number of unique customer_id: 99441
The number of unique customer_unique_id: 96096

In [7]:
customer_unique_id_counts = df['customer_unique_id'].value_counts()
duplicated_custormer_unique_ids = customer_unique_id_counts[customer_unique_id_counts >=2].index
len(duplicated_custormer_unique_ids)

2997

In [8]:
order_counts = df['customer_unique_id'].value_counts()
order_counts

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
ca77025e7201e3b30c44b472ff346268     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
4f83c83b7ff5b544a8c75dcb8ad66e2e     1
3fe413dde400746c53c5d0d38b266ca2     1
289e1d1ce11a14bb169775d58ad2f1c2     1
ec83d060d9a0abba4b409c544c744c2f     1
211e4234ffca5cec9b0ab183a1009256     1
Name: count, Length: 96096, dtype: int64

In [9]:
# 구매 개수별 카운트
## 강성 고객을 정의할 수 있을까?
order_counts.value_counts()

count
1     93099
2      2745
3       203
4        30
5         8
6         6
7         3
17        1
9         1
Name: count, dtype: int64

In [11]:
df.customer_zip_code_prefix.value_counts()

customer_zip_code_prefix
22790    142
24220    124
22793    121
24230    117
22775    110
        ...
25958      1
7812       1
85730      1
58421      1
24027      1
Name: count, Length: 14994, dtype: int64