In [6]:
import pandas as pd
import os
from pathlib import Path

In [7]:
REDEFINED_DIR = "../../../downloads/olist_redefined"
os.makedirs(REDEFINED_DIR, exist_ok=True)

In [8]:
customers = pd.read_csv(f"{REDEFINED_DIR}/cdc_customer_origin.tsv", sep='\t')
customers.head()

,customer_id,customer_unique_id,zip_code
0,fadbb3709178fc513abc1b2670aa1ad2,0000366f3b9a7992bf8c76cfdf3221e2,7787
1,4cb282e167ae9234755102258dd52ee8,0000b849f77a49e4a4ce2b2a4ca5be3f,6053
2,9b3932a6253894a02c1df9d19004239f,0000f46a3911fa3c0805444483337064,88115
3,914991f0c02ef0843c0e7010c819d642,0000f6ccb0745a6a4b88665a16c9f078,66812
4,47227568b10f5f58a524a75507e6992c,0004aac84e0df4da2b147fca70cf8255,18040

In [9]:
customers_cleaned = customers.drop(columns='customer_id').drop_duplicates()
customers_cleaned = customers_cleaned.rename(columns={"customer_unique_id": "customer_id"})
customers_cleaned.head()

                        customer_id  zip_code
0  0000366f3b9a7992bf8c76cfdf3221e2      7787
1  0000b849f77a49e4a4ce2b2a4ca5be3f      6053
2  0000f46a3911fa3c0805444483337064     88115
3  0000f6ccb0745a6a4b88665a16c9f078     66812
4  0004aac84e0df4da2b147fca70cf8255     18040

In [10]:

print(customers.shape)
print(customers_cleaned.shape)
customers_cleaned.sort_values('zip_code').to_csv(f'{REDEFINED_DIR}/cdc_customer.tsv', sep='\t', index=False)

(99441, 3)
(96350, 2)