In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
customer = pd.read_csv("../../../downloads/olist_redefined/customer.tsv", sep='\t').drop_duplicates()
customer

                            customer_id  zip_code
0      0c1a20644f0dc126c3eaff8dbc1bd12c      1003
1      968f6d2f674977d88a4b445a5117ccd8      1004
2      095e7c124c5c1ccb1eb9f731152eae6a      1004
3      ded4351942c7fc292b88e5b090af2b46      1005
4      9c84e5193d6ee59b3870e0e4e3a2dad8      1005
...                                 ...       ...
96345  9fc089b0b6a8db40d4357e784f1e91d4     99965
96346  0528a0a940c7116ccb48fdbb8e80a8ff     99970
96347  e49eafd7e69d43b8d86f6b5590fafd02     99980
96348  3dbb390afed2043063d358900ae05d0d     99980
96349  8f846b30f8f56368cd1bf4c89efeed74     99990

[96350 rows x 2 columns]

In [20]:
customer_location = customer.groupby('zip_code', as_index=False).count()
customer_location.rename(columns={'customer_id': 'customer_count'}, inplace=True)

In [21]:
customer_location.sort_values('customer_count', ascending=False)

       zip_code  customer_count
5885      22790             136
5886      22793             119
6027      24220             114
6028      24230             113
5880      22775             107
...         ...             ...
11863     74611               1
11886     74691               1
11884     74686               1
11878     74673               1
0          1003               1

[14994 rows x 2 columns]