In [1]:
import pandas as pd

In [3]:
order_item = pd.read_csv("../../../downloads/olist_redefined/order_item.tsv", sep='\t').drop_duplicates()
order_item.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [6]:
nunique_price = order_item.groupby('product_id')['price'].nunique()
nunique_price[nunique_price > 1]

product_id
00210e41887c2a8ef9f791ebc780cc36    2
002159fe700ed3521f46cfcf6e941c76    2
00250175f79f584c14ab5cecd80553cd    2
005030ef108f58b46b78116f754d8d38    2
007c63ae4b346920756b5adcad8095de    3
                                   ..
ffe0fc4e02c3559643ac063fa5cf9d07    2
ffe8083298f95571b4a66bfbc1c05524    2
fff0a542c3c62682f23305214eaeaa24    2
fff6177642830a9a94a0f2cba5e476d1    2
fffdb2d0ec8d6a61f0a0a0db3f25b441    2
Name: price, Length: 5900, dtype: int64

In [7]:
order_item[order_item['product_id'] == '007c63ae4b346920756b5adcad8095de']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
26782,3cedecb4c098aed91d062c54ece4bca4,1,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-05-09 12:31:10,79.99,19.26
50388,7280e73216120ebb4358a41b3d947e5e,1,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-03-09 22:10:19,72.99,23.06
53178,7905195351d6b5454db9c308ab72288e,2,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-05-18 13:42:55,79.99,20.00
56758,811acfa349a56222b8ca357b548123bb,1,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-11-30 00:52:34,71.00,13.52
82274,bafb40f7e8faf993b7d5da5114f4bd56,1,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-06-07 19:02:50,79.99,12.26
93224,d34e86154f29f6aa2093eb2a578b9326,1,007c63ae4b346920756b5adcad8095de,53e4c6e0f4312d4d2107a8c9cddf45cd,2017-08-07 22:10:17,79.99,11.76