# Here’s what I did
- I analyzed and verified specific relationships within the data based on the compact ERD provided in [Brazilian E-commerce Dataset](https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce/data).

- Result: `./result/erd.svg`

In [2]:
import pandas as pd

In [44]:
orders_df = pd.read_csv("../downloads/olist/olist_orders_dataset.csv")
orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [54]:
order_id = orders_df.order_id.value_counts()
len(order_id[order_id > 1])

0

In [49]:
order_customers = orders_df.customer_id.value_counts()
len(order_customers[order_customers > 1])

0

In [19]:
order_reviews_df = pd.read_csv("../downloads/olist/olist_order_reviews_dataset.csv")
order_reviews_df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [37]:
reviews_by_order_id = order_reviews_df.order_id.value_counts()
reviews_by_order_id[reviews_by_order_id > 1]

order_id
03c939fd7fd3b38f8485a0f95798f1f6    3
8e17072ec97ce29f0e1f111e598b0c85    3
c88b1d1b157a9999ce368f218a407141    3
df56136b8031ecd28e200bb18e6ddb2e    3
843be4a0dcdb9716de7652d53af4acab    2
                                   ..
fd61441ba2a7b57e6342862e779b10b0    2
4703440eb9289d3769819920e98ec061    2
3c5c2cfeea91d9a57ac3c979ec6c9d62    2
74b7f4373a78df8c16862d9d0875c5b4    2
d22f0b06e1519065d7eddb2ba6b79b63    2
Name: count, Length: 547, dtype: int64

In [38]:
payments_df = pd.read_csv("../downloads/olist/olist_order_payments_dataset.csv")
payments_df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [42]:
payments = payments_df.order_id.value_counts()
payments[payments > 1]

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
                                    ..
fccf0d3397491d555ae0d9a4689bfc29     2
65f72c812ba4ca1ebb3c3558c69d5693     2
47cb859a7f526319e3da0015c15c3b1f     2
a4291e3f3a5a6350fb7624dc6a892bce     2
84ebcff41a92fda70c984a3ef76d1237     2
Name: count, Length: 2961, dtype: int64

In [50]:
order_items_df = pd.read_csv("../downloads/olist/olist_order_items_dataset.csv")
order_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [51]:
order_items_count = order_items_df.order_id.value_counts()
order_items_count[order_items_count > 1]

order_id
8272b63d03f5f79c56e9e4120aec44ef    21
1b15974a0141d54e36626dca3fdc731a    20
ab14fdcfbe524636d65ee38360e22ce8    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
                                    ..
c629fd3aa69824b58230aee97ab8930d     2
7a5ffe966dbc98f0f43ceeb96e1d73c8     2
4a28fe31d1808616ef3925084765c8b3     2
01b1a7fdae9ad1837d6ab861705a1fa5     2
f86672be5bf85864e88a08f231b43c2d     2
Name: count, Length: 9803, dtype: int64

In [89]:
products_df = pd.read_csv("../downloads/olist/olist_products_dataset.csv")
products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [90]:
print(products_df.shape)

(32951, 9)

In [61]:
product_id_count = products_df.product_id.value_counts()
product_id_count[product_id_count == 1]

product_id
106392145fca363410d287a815be6de4    1
1e9e8ef04dbcff4541ed26657ea517e5    1
3aa071139cb16b67ca9e5dea641aaa2f    1
96bd76ec8810374ed1b65e291975717f    1
cef67bcfe19066a932b7673e239eb23d    1
                                   ..
03b63c5fc16691530586ae020c345514    1
14aa47b7fe5c25522b47b4b29c98dcb9    1
8c92109888e8cdf9d66dc7e463025574    1
37cc742be07708b53a98702e77a21a02    1
2548af3e6e77a690cf3eb6368e9ab61e    1
Name: count, Length: 32951, dtype: int64

In [64]:
order_items_df.product_id.value_counts()

product_id
aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
                                   ...
038c0dd7c1e48a1588f8919a0c305727      1
aa20709d44e96059764f1b0386d3bcfa      1
9ae3dacfd2327107a1e28274fac25a4e      1
0c398b245c9b74ef2bf4343b6fe73237      1
446295cf6f689d4db477145815362608      1
Name: count, Length: 32951, dtype: int64

In [73]:
seller_df = pd.read_csv("../downloads/olist/olist_sellers_dataset.csv")
seller_df.head()
print(seller_df.shape)

(3095, 4)

In [74]:
(seller_df.seller_id.value_counts() > 1).value_counts()

count
False    3095
Name: count, dtype: int64

In [77]:
order_items_df.seller_id.value_counts()

seller_id
6560211a19b47992c3666cc44a7e94c0    2033
4a3ca9315b744ce9f8e9374361493884    1987
1f50f920176fa81dab994f9023523100    1931
cc419e0650a3c5ba77189a1882b7556a    1775
da8622b14eb17ae2831f4ac5b9dab84a    1551
                                    ...
6c77cd583b36a13aacccf2b3ee23e233       1
79b93a308a97792cf53ac75f46da00b5       1
04ee0ec01589969663ba5967c0e0bdc0       1
7d81e74a4755b552267cd5e081563028       1
20f0aeea30bc3b8c4420be8ced4226c0       1
Name: count, Length: 3095, dtype: int64

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [8]:
product_categories_df = pd.read_csv("../downloads/olist/product_category_name_translation.csv")
product_categories_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [78]:
geolocation_df = pd.read_csv("../downloads/olist/olist_geolocation_dataset.csv")
geolocation_df.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [79]:
geolocation_df.geolocation_zip_code_prefix.value_counts()

geolocation_zip_code_prefix
24220    1146
24230    1102
38400     965
35500     907
11680     879
         ...
72669       1
29014       1
72875       1
72873       1
72230       1
Name: count, Length: 19015, dtype: int64

In [80]:
seller_df.seller_zip_code_prefix.value_counts()

seller_zip_code_prefix
14940    49
13660    10
16200     9
13920     9
1026      8
         ..
3331      1
89254     1
8111      1
81930     1
29090     1
Name: count, Length: 2246, dtype: int64

In [81]:
order_customers

customer_id
edb027a75a1449115f6b43211ae02a24    1
f00bb12620b7b232233cace1b229db18    1
ad312389a098ceff46ce92c4595c06d0    1
a046c690e0564ffde0ce611b5eee2c30    1
3803547f820b1e10b7ad9c7985f06753    1
                                   ..
503740e9ca751ccdda7ba28e9ab8f608    1
8ab97904e6daea8866dbdbc4fb7aad2c    1
f88197465ea7920adcdbec7375364d82    1
41ce2a54c0b03bf3443c3d931a367089    1
b0830fb4747a6c6d20dea0b8c802d7ef    1
Name: count, Length: 99441, dtype: int64

In [83]:
product_translation = pd.read_csv("../downloads/olist/product_category_name_translation.csv")
product_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [ ]:
product_translation.product_category_name.value_counts().value_counts()

count
1    71
Name: count, dtype: int64

In [88]:
product_translation.product_category_name_english.value_counts().value_counts()

count
1    71
Name: count, dtype: int64

In [91]:
products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [93]:
len(products_df.product_category_name.value_counts()) == len(product_translation)

False